.summary-card-container {
  /* margin: 8px; */
  box-sizing: border-box;
}

.summary-card-name {
  font-size: 0.7rem;
}

.summary-card-icon {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.summary-card-unit-text {
  font-size: 0.9rem;
}